* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.pagewrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1F2937;
    color: #FFFFFF;
    flex: 1;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
}

.footer {
    background-color: #1F2937;
    color: #FFFFFF;
    height: 100px;
    
}

.cta {
    background-color: #3882F6;
}

.bluesquare {
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}