/* Generic Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px 30px;
    border: 0px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #ffffff;
    font-size: 18px;
    font-weight:900;
}

.pagewrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

/* Header Styles */

.banner {
    display: flex;
    /*Replace justify with page margins?*/
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.rightlinks {
    display: flex;
    gap: 35px;
}



.header {
    background-color: #1F2937;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.herocontent {
    display: flex;
    padding: 150px 0px;
    justify-content: space-between;
    

}

.herocontentleft {
    width: 500px;
    
}

.herocontentright {
    width: 500px;
    display: flex;
    background-color: hsl(213.75deg 6.84% 45.88%);
    justify-content: center;
    align-items: center;
}

/* Information Styles */

.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 100px 0px;
    gap: 40px;
}

.infocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.infoitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    gap: 15px;
}

.infocaption {
    text-align: center;
    padding: 0px 5px;
}

.informationtitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.bluesquare {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

/* Quote Styles */

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    align-items: center;
    padding: 60px 0px 60px 0px;
    justify-content: center;
}

.quotecontainer {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.quoteitalic {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color:#1F2937;
}

.quoteauthor {
    font-size:24px;
    font-weight: 900;
    color: #1F2937;
    align-self: flex-end;
}

/* Cta Styles */

.cta {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 150px 50px;
}

.ctacontainer {
    background-color: #3882F6;
    display: flex;
    padding: 50px 80px;
    border-radius: 15px;
    justify-content: space-around;
    width: 850px;
    color: #ffffff;
    gap: 15px;
}

.ctaright button {
    border: 1px solid #FFFFFF;
}

/* Footer Styles*/

.footer {
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    
}



/* Font styles only*/

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.rightlinks a,
.herosecondtext {
    font-size: 18px;
    color: #E5E7EB;
}

.herosecondtext {
    padding-bottom: 15px;
    padding-right:10px;
}

.heromaintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.ctatitle {
    font-size: 24px;
    font-weight: 900;
}
