* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.pagewrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1F2937;
    color: #FFFFFF;
    flex: 1;
}

.banner {
    display: flex;
    /*Replace justify with page margins?*/
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

.rightlinks {
    display: flex;
    gap: 35px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
}

.footer {
    background-color: #1F2937;
    color: #FFFFFF;
    height: 60px;
    
}

.cta {
    background-color: #3882F6;
}

.bluesquare {
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}

/*Font styles only*/

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.rightlinks a,
.herosecondtext {
    font-size: 18px;
    color: #E5E7EB;
}